<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/lib/fonts.css">
<link rel="stylesheet" href="/css/lib/all.css">
<link rel="stylesheet" href="/css/manageCat.css">
</head>
<body>
    <div class="d-flex flex-column" id="content-wrapper">
        <div class="container">
            <form method="POST" action="/admin/manage-category">
                <h3 style="padding-top: 25px;">Add a new category</h1>
                <div class="form-group"><label>Category name:</label><input name="categoryName" class="form-control" type="text"></div>
                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add category</button>
            </form>
                <h3 style="padding-top: 25px;">Choose a category to edit:</h1>
                <div class="row categories justify-content-center">
                    <% for (let category of categories){ %>
                    <a href="/admin/manage-category-<%= category.categoryId %>">
                        <button type="button" class="btn btn-primary"><%= category.name %></button>
                    </a>
                    <% } %>
                </div>
        </div>


    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/Chart.bundle.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/lib/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
</body>


<%- include('../includes/end.ejs') %>