<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="/css/manageCat.css">
</head>
<body>
    <div class="d-flex flex-column" id="content-wrapper">
        <div class="container">
            <form method="POST" action="/admin/manage-category">
                <h3 style="padding-top: 25px;">Add a new category</h1>
                <div class="form-group"><label>Category name:</label><input name="categoryName" class="form-control" type="text"></div>
                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add category</button>
            </form>
                <h3 style="padding-top: 25px;">Choose a category to edit:</h1>
                <div class="row categories justify-content-center">
                    <% for (let category of categories){ %>
                    <a href="/admin/manage-category-<%= category.categoryId %>">
                        <button type="button" class="btn btn-primary"><%= category.name %></button>
                    </a>
                    <% } %>
                </div>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/js/theme.js"></script>
</body>


<%- include('../includes/end.ejs') %>