<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <form class="col justify-content-center" method="POST" action="/">
                <div class="form-group">
                    <label for="userName" class="">Username:</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="col-md"></div>
        </div>
    </div>
</body>


<%- include('./includes/end.ejs') %>